.form,
.greetings {
	display: none;
}

.showing {
	display: block;
}

h1,form {
	text-align: center;
}

h1 {
	color: white;
	font-size: 50px;
	font-family: 'Noto Serif KR', serif;
	text-shadow: 0 0 5px black;
	margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

form {
	margin: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input::placeholder {
	color: grey;
	text-align: center;
	}

body {
	background-color: #585858;}